/* 
    MEDIA 
    QUERIES
*/

@media screen and (max-width: 500px) {}

@media screen and (max-width: 800px) {

    /* 
        HEADER
        STYLES
    */
    .header-intro {
        flex-flow: column nowrap;
    }

    .header-img {
        display: none;
    }

    /* 
        NAVBAR
        STYLES
    */

    .navbar {
        flex-flow: column-reverse nowrap;
        justify-content: space-around;

        height: 10vh;
    }

    .nav-list {
        width: 100%;
    }

    .bottom-content>div, .top-content>div {
        font-size: 1.1rem;
    }
}